@use "src/globals";
.navigation {
  display: flex;
  justify-content: space-between;
  @include globals.container;
  @include globals.mx-auto;
  padding: 5em 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .navigation__logo {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
  }

  .navigation__links--container {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;

    & > li {
      font-size: 1.8rem;
      color: #fff;
    }
  }

  .navigation__account--container {
    display: flex;
    align-items: center;
    gap: 5px;

    .navigation__account__icon {
      font-size: 3rem;
      color: #fff;
    }
    .navigation__account__title {
      font-size: 1.5rem;
      color: #fff;
    }
  }
}
